@use 'colors' as *

.buttons
  width: 100%
  margin: 1em 0 1em 0
  padding: 1em 0 1em 0
  text-align: center
  background-color: $lightest
  border-top: 1px solid $lighter

  button.secondary
    background-color: $medium
