@use 'colors' as *

form
  display: flex
  flex-wrap: wrap
  padding-top: 1em
  border-top: 1px solid $lighter
  background-color: $lightest

  fieldset
    width: 100%
    margin: 0.5em


  .fill
    width: 100%
    text-align: center

  .field
    display: inline-block
    width: 49%
    min-height: 2.7em
    padding: 0.5em 0 0.3em 0.5em
    text-align: center


    label
      width: 100%
      display: inline-block
      text-align: right

      textarea
        height: 4em

      >*
        text-align: left
        display: inline-block
        font-weight: normal
        width: 50%

      // >input[type=checkbox]
      //   width: unset
      //   margin-right: 0
      //   // position: absolute
      //   &::after
      //     width: 50%
      //     content: ""
      //     display: inline-block

      >:not(span)
        width: 25%
        margin-right: 25%

    .errors
      margin-left: 50%
      text-align: left
      list-style: none
      font-size: 0.8em
      color: $error

  .buttons
    margin-top: 2em
    margin-bottom: 0
