@forward 'table'
@forward 'form'
@use 'colors' as *

html
  height: 100%
  width: 100%
  font-family: Tahoma, Geneva, sans-serif
  font-size: 10px

body
  display: flex
  flex-direction: column
  position: relative
  height: 100%
  width: 100%
  font-size: 1.6rem

main
  flex-grow: 1
  position: relative
  overflow: auto
  padding: 1em

section+section
  margin-top: 1em

input:not([type=checkbox]), select, textarea
  height: 1.9em
  padding: 0.4em 1em 0.2em 0.4em
  background-color: $lighter

label
  font-weight: bold

section
  width: 100%
  overflow-x: auto

h1
  font-size: 2em

h2
  font-size: 1.6em

h1, h2
  text-align: center
  margin: 1.4em 0 1em 0

fieldset
  border: 1px solid $light
  padding: 0.6em 0.8em

a
  color: black

  &:visited
    color: $medium
  &:hover
    color: $dark

button
  background-color: $dark
  color: white
  padding: 0.4em 1em
  border-radius: 0.5em

  &:hover
    text-shadow: 0px 0px 1px white
    cursor: pointer
