@use 'colors' as *

table
  min-width: 100%
  word-break: keep-all
  text-align: center
  margin-left: auto
  margin-right: auto
  border-collapse: collapse
  border: 1px solid $light

thead
  background-color: $dark

tr
  &:nth-of-type(2n)
    background-color: $lighter

th
  color: white
  cursor: pointer
  font-weight: normal
  white-space: nowrap

  &:hover
    text-shadow: 0px 0px 1px white

  &.selected
    font-weight: bold

th, td
  padding: 0.3em 0.5em
