{{#if this.flash.entries}}
  <div class="flash">
    <ul class="messages">
      {{#each this.flash.entries as |entry|}}
        <li
          data-level={{entry.level}}
          {{did-insert this.setClearTimer}}
        >
          <time><DateTime @hideDate={{true}}/></time>
          {{entry.message}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
