{{#let
  (eq @type "output")
  (eq @type "textarea")
  (eq @type "checkbox")
  (eq @type "select")
  (mut (get @model @field))
  (get @model.errors @field)
as |isOutput isTextArea isCheckbox isSelect value errors|}}

  <div class="field">
    <label>
      {{@label}}:
      {{#if (has-block)}}
        {{yield value}}
      {{else if isTextArea}}
        <Textarea @value={{value}} ...attributes />
      {{else if isOutput}}
        <span ...attributes>
          {{#if @datetime}}
            <DateTime
              @value={{value}}
              @hideDate={{@hideDate}}
              @hideTime={{@hideTime}}
            />
          {{else}}
            {{value}}
          {{/if}}
        </span>
      {{else if isCheckbox}}
        <span>
          <Input @type="checkbox" @checked={{value}} ...attributes />
        </span>
      {{else if isSelect}}
        <select
          {{on "change" (action (mut value) value="target.value")}}
          ...attributes
        >
          {{#each @options as |opt|}}
            <option
              value={{opt.value}}
              selected={{or (eq value opt.value) opt.selected}}
              disabled={{opt.disabled}}
            >
              {{opt.label}}
            </option>
          {{/each}}
        </select>
      {{else}}
        <Input @type={{@type}} @value={{value}} ...attributes />
      {{/if}}
    </label>

    {{#if errors}}
      <ul class="errors">
        {{#each errors as |error|}}
          <li>{{error.message}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

{{/let}}
