{{#if this.showIf}}
  <nav>
    <ul>
      <li><LinkTo @route="licenses.index">Licenças</LinkTo></li>
      {{#if this.current.user.admin}}
        <li><LinkTo @route="users.index">Usuários</LinkTo></li>
      {{/if}}
      <li><LinkTo @route="logout">Sair</LinkTo></li>
    </ul>
  </nav>
{{/if}}
