<div class="pagination">
  <label>
    Exibindo
    <select {{on "change" (action (mut @batch) value="target.value")}} >
      {{#each (array 1 15 30 45 60) as |batch|}}
        <option selected={{eq batch @batch}}>{{batch}}</option>
      {{/each}}
    </select>
    por página
  </label>

  <ol>
    {{#each this.visiblePages as |page|}}
      <li class={{compute this.getButtonClasses page}}>
        <button {{on "click" (action (mut @page) page)}}>
          {{page}}
        </button>
      </li>
    {{/each}}
  </ol>
</div>
