{{#let
  (eq @field @sortingField)
  "angle-double-down"
  "angle-double-up"
as |selected iconDown iconUp|}}
  <th
    class={{if selected "selected"}}
    {{on "click" (action @sort @field)}}
  >
    {{@label}}
    {{#if selected}}
      <FaIcon @icon={{if (eq @sortingDir "desc") iconDown iconUp}} />

    {{/if}}
  </th>
{{/let}}
