<form
  {{on "submit" this.save}}
  {{will-destroy this.rollback}}
>
  <fieldset>
    <legend>Informações básicas</legend>
    <FormField
      @label="Nome"
      @model={{@user}}
      @field="name"
    />
    <FormField
      @label="E-mail"
      @type="email"
      @model={{@user}}
      @field="email"
    />
    <FormField
      @label="Administrador"
      @type="checkbox"
      @model={{@user}}
      @field="admin"
      disabled={{eq @user this.current.user}}
    />
  </fieldset>
  <fieldset>
    <legend>Senha</legend>
    <FormField
      @label="Senha"
      @type="password"
      @model={{@user}}
      @field="password"
    />
    <FormField
      @label="Confirmação"
      @type="password"
      @model={{@user}}
      @field="passwordConfirmation"
    />
  </fieldset>

  <div class="buttons">
    <button type="submit">Salvar</button>
    <button
      type="button"
      class="secondary"
      {{on "click" @goBack}}
    >
      Voltar
    </button>
  </div>
</form>
