<section>
  <div class="buttons">
    <button {{on "click" this.newUser}}>Criar novo usuário</button>
  </div>
  <table>
    <thead>
      <tr>
        {{#each-in (hash
          name="Nome"
          email="E-mail"
          admin="Administrador"
        ) as |field label|}}
          <SortableTableHeader
            @field={{field}}
            @label={{label}}
            @sort={{this.sortByField}}
            @sortingField={{this.sortBy}}
            @sortingDir={{this.sortDirection}}
          />
        {{/each-in}}
        <th />
      </tr>
    </thead>
    <tbody>
      {{#each this.users as |user|}}
        <tr>
          <td>
            <LinkTo @route="users.edit" @model={{user}}>{{user.name}}</LinkTo>
          </td>
          <td>
            <a href={{concat "mailto://" user.email}}>{{user.email}}</a>
          </td>
          <td>
            <FaIcon @icon={{if user.admin "check-circle" "times-circle"}}/>
          </td>
          <td>
            {{#if (not-eq user this.current.user)}}
              <button type="button" {{on "click" (fn this.deleteUser user)}}>
                Excluir
              </button>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</section>
