.flash
  width: 100%
  top: 0
  overflow: hidden
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  background: rgb(80,80,80)
  background: linear-gradient(180deg, rgba(80,80,80,0.937395026369923) 0%, rgba(40,40,40,0.4163866230085784) 68%, rgba(255,255,255,0) 97%)

  .messages
    list-style: none
    padding: 1em
    margin: 0
    width: 50%
    text-align: center

    li
      line-height: 1.5em
      margin-bottom: 0.5em
      color: white
      padding: 0.5em 0.7em
      border-radius: 0.5em

      &[data-level=success]
        background-color: rgb(83, 176, 109)
      &[data-level=warning]
        background-color: rgb(255, 235, 103)
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3)
      &[data-level=error]
        background-color: rgb(255, 127, 119)

      time
        float: left
        font-weight: bold
