@use '../colors' as *

nav
  background-color: $darker

  ul
    margin: 0
    padding: 0
    display: flex
    list-style: none
    border-bottom: solid 0.5em $dark

    li
      font-size: 1.2em
      height: 2em
      line-height: 2em
      padding: 0.4em 0.8em 0.1em 0.8em

      a
        display: block
        width: 100%
        height: 100%
        color: white
        text-decoration: none

        &:visited
          color: white
        &:hover
          text-shadow: 0px 0px 3px white
