@use '../colors' as *

.pagination
  display: flex
  align-items: center
  justify-content: space-around
  background-color: $lighter
  margin: 1em 0
  padding: 0.5em

  label
    font-size: 0.8em

  ol
    list-style: none
    display: flex
    align-items: center

    li
      margin-left: 0.3em

      &.selected button
        font-size: 1em
        background-color: $dark

      &.last-of-group::after
        display: inline-block
        content: " . . ."
        vertical-align: middle
        margin: 0 1em

      button
        background-color: $medium
        padding: 0
        height: 2.5em
        width: 2.5em
        line-height: 2.5em
        text-align: center
        vertical-align: middle
        border-radius: 1.25em
        font-size: 0.8em
        border: 0
        cursor: pointer
        color: white
