<section>
  <h1>Edição de licença</h1>

  <form {{on "submit" this.save}}>
    <FormField
      @label="Código"
      @model={{this.model}}
      @field="code"
      @type="output"
    />
    <FormField
      @label="Estado"
      @model={{this.model}}
      @field="status"
      @type="select"
      @options={{array
        (hash value="ACTIVE" label="Ativa")
        (hash value="REVOKED" label="Revogada")
      }}
    />
    <FormField
      @label="Concessões"
      @model={{this.model}}
      @field="allowedActivations"
      @type="number"
      min={{this.model.activations.length}}
    />
    <FormField
      @label="Ativações"
      @model={{this.model.activations}}
      @field="length"
      @type="output"
    />
    <FormField
      @label="Falhas de ativação"
      @model={{this.model}}
      @field="failedActivations"
      @type="output"
    />
    <FormField
      @label="Dispositivo"
      @model={{this.model}}
      @field="deviceId"
      @type="output"
    />
    <FormField
      @label="Criada por"
      @model={{this.model}}
      @field="createdBy"
      @type="output"
    />
    <FormField
      @label="Criada em"
      @model={{this.model}}
      @field="createdAt"
      @type="output"
      @datetime={{true}}
    />
    <FormField
      @label="Atualizada em"
      @model={{this.model}}
      @field="updatedAt"
      @type="output"
      @datetime={{true}}
    />
    <FormField
      @label="Comentários"
      @model={{this.model}}
      @field="comments"
      @type="textarea"
    />
    <div class="buttons">
      <button type="submit">Salvar</button>
      <button
        type="button"
        class="secondary"
        {{on "click" this.goBack}}
      >
        Voltar
      </button>
    </div>
  </form>
</section>

<section>
  <h2>Ativações</h2>

  <table>
    <thead>
      <tr>
        {{#each-in (hash
          signature="Assinatura"
          timesPerformed="Execuções"
          createdAt="Primeira execução"
          updatedAt="Última execução"
        ) as |field label|}}
          <SortableTableHeader
            @field={{field}}
            @label={{label}}
            @sort={{this.sortByField}}
            @sortingField={{this.sortBy}}
            @sortingDir={{this.sortDirection}}
          />
        {{/each-in}}
        <th />
      </tr>
    </thead>
    <tbody>
      {{#each this.activations as |activation|}}
        <tr>
          <td>{{activation.signature}}</td>
          <td>{{activation.timesPerformed}}</td>
          <td><DateTime @value={{activation.createdAt}} /></td>
          <td><DateTime @value={{activation.updatedAt}} /></td>
          <td>
            <button {{on "click" (fn this.deleteActivation activation)}}>
              Liberar
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
