<section class="new-license">
  <fieldset>
    <legend>Nova licença</legend>
    <label>
      Concessões:
      <Input
        type="number"
        min="0"
        @value={{this.allowedActivations}}
      />
    </label>
    <label>
      Comentários:
      <Input @value={{this.comments}} />
    </label>
    <button type="button" {{on "click" (action this.generateLicense)}}>
      Gerar licença
    </button>
  </fieldset>
</section>

<section>
  <table>
    <thead>
      <tr>
        {{#each-in (hash
          code="Código"
          status="Estado"
          allowedActivations="Concessões"
          successfulActivations="Ativações"
          failedActivations="Falhas"
          comments="Comentários"
          createdBy="Criado por"
          createdAt="Criado em"
          updatedAt="Atualizado em"
        ) as |field label|}}
          <SortableTableHeader
            @field={{field}}
            @label={{label}}
            @sort={{this.sortByField}}
            @sortingField={{this.sortBy}}
            @sortingDir={{this.sortDirection}}
          />
        {{/each-in}}
      </tr>
    </thead>
    <tbody>
      {{#each this.model as |license|}}
        <tr>
          <td>
            <LinkTo @route="licenses.edit" @model={{license}}>
              {{license.code}}
            </LinkTo>
          </td>
          <td>{{if (eq license.status "ACTIVE") "Ativa" "Revogada"}}</td>
          <td>{{license.allowedActivations}}</td>
          <td>{{license.activations.length}}</td>
          <td>{{license.failedActivations}}</td>
          <td>{{license.comments}}</td>
          <td>{{license.createdBy}}</td>
          <td><DateTime @value={{license.createdAt}} /></td>
          <td><DateTime @value={{license.updatedAt}} /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <Pagination
    @page={{mut this.page}}
    @batch={{mut this.rowsPerPage}}
    @total={{this.totalRows}}
    @last={{this.lastPage}}
  />
</section>
