@use '../colors' as *

.login
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center

  form
    display: flex
    flex-direction: column
    align-items: stretch
    background-color: $lighter
    width: 30%
    padding: 2em

    img
      width: 60%
      margin-left: auto
      margin-right: auto

    label
      white-space: pre-line

      input
        width: 100%

    button
      margin-top: 2em
