<div class="login">
  <form {{on "submit" this.logIn}}>
    <img src="/images/transform.svg" alt="Logo da Transform">
    <label>
      E-mail
      <Input @value={{this.email}} @type="email" placeholder="E-mail" />
    </label>
    <label>
      Senha
      <Input @value={{this.password}} @type="password" placeholder="Senha" />
    </label>
    <button type="submit">Enviar</button>
  </form>
</div>
